@{
    ViewData["Title"] = "Politica de privacidad";
}
<h1>@ViewData["Title"]</h1>

<p>Me reservo la autoridad de hacer lo que quiera con mi pagina, no hay privacidad aca!! yo hago lo que quiero con tus datos... kiss :*</p>
